# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MongoDB
MONGO_URI=mongodb://ansheetatiwari:anshi123456@ac-7awjhpq-shard-00-00.fezkgoi.mongodb.net:27017,ac-7awjhpq-shard-00-01.fezkgoi.mongodb.net:27017,ac-7awjhpq-shard-00-02.fezkgoi.mongodb.net:27017/ai-interview-platform?ssl=true&authSource=admin&replicaSet=atlas-itfpix-shard-0&retryWrites=true&w=majority

# JWT
JWT_ACCESS_SECRET=Anshi@1234
JWT_REFRESH_SECRET=Anshi%64567
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cookies
COOKIE_SECURE=false

# Google Gemini
GEMINI_API_KEY="AQ.Ab8RN6LKcKxZMIALzLBmtHvrwKXInZYzIeivAc-S1vWz1YfvOA"
